<!-- restaurant_menu.html -->


{% extends 'base.html' %}


{% block content %}

	<html>
		<body>
		<div class="container">
		</br>
		</br>
			<h3>{% block title %} Add Menu items for {{rest_name}}{% endblock %}</h3>

		</br>
			
		</div>
		

		<hr>


		<form action='/create_menu/{{rest_name}}' method="post">

		<table class="styled-table" id="menu-table">
			<thead>
			  <tr>
			      <th>Menu Item</th>
			      <th>Item Cost</th>
			      <th></th>
			  </tr>
			</thead>
          
			<tbody>
			   <tr>
			   	<div class="form-group">
			      <td> <input type="text" name="title" placeholder="Item Name"
			           class="form-control"
			           value="">
				        </input>
			      </td>
			  </div>
			      <div class="form-group">
			      <td><input name="cost" placeholder="Item cost"
			              class="form-control"
			              value="">
			          </input> 
			      </td>
			  </div>			  
			   </tr>
			</tbody>
	    </table>


		<div class="form-group">
		    <button type="button" class="pheasant-demure-button solid dark">
			  <span class="label add_another">ADD MENU ITEM</span>
			</button>
			<button type="submit" class="pheasant-demure-button solid dark">
			  <span class="label">SAVE MENU</span>
			</button>
		</div>
	   
	    </form>


		<hr>

		<script>

		window.SomeDeleteRowFunction = function SomeDeleteRowFunction(o) {
		     var p=o.parentNode.parentNode;
		     p.parentNode.removeChild(p);
		}	


		// Function to add additional menu items in the table	
		$('document').ready(function() {
			
			$('.remove_item').click(function() {
				$("#menu-table").append()
			});

			$('.add_another').click(function() {

				$("#menu-table").append('<tr><div class="form-group">			      <td> <input type="text" name="title" placeholder="Item Name"			           class="form-control"			           value="">				        </input>			      </td>			  </div>			      <div class="form-group">			      <td><input name="cost" placeholder="Item cost"			              class="form-control"			              value="">			          </input> 			      </td>			  </div><td ><input type="button" class="pheasant-demure-button solid dark" value="X" onclick="SomeDeleteRowFunction(this)"/></td></tr>');

			});
   		})		
		</script>

<!-- 
		<script>
		    function Update(){
		         var result = [];
		         var tr = $("#TestTable tr");              
		                 for (var i = 1; i < tr.length; i++) 
		                 {
		                        var tds = $(tr[i]).find("td");
		                        if (tds.length > 0) {
		                            result.push({
		                                "Name" : tds[0].innerHTML,
		                                "Age" : tds[1].innerHTML,
		                                "Country" : tds[2].innerHTML
		                            })
		                        }
		                        
		                        
		                 }
		                    var jsonData = { 
		                        "personLst" : result
		                    }
		                 $.ajax({
		                    dataType: 'json',            
		                    type: "Post", 
		                    data: jsonData,
		                    url: "/Home/Privacy"
		                    
		                 })
		                 
		                
		    }
		    </script> -->


<!-- 		<tr>
			<div class="form-group">
				<td> 
				<input type="text" name="title" placeholder="Item Name" class="form-control" value="{{ request.form['title']}}">
		        </input>
				</td>
			</div>			  
			<div class="form-group">
		      <td>
		      	<input name="cost" placeholder="Item cost" class="form-control">
				</input>
		      </td>
			</div>
		</tr> -->

<!-- 
		   <form action='/create_menu/{{rest_name}}' method="post">
		    <div class="form-group">
		        <label for="title">Menu Item</label>
		        <input type="text" name="title" placeholder="Item Name"
		               class="form-control"
		               value="{{ request.form['title']}}">
		        </input>
		    </div>

		    <div class="form-group">
		        <label for="content">Item Cost</label>
		        <input name="cost" placeholder="Item cost"
		                  class="form-control">{{ request.form['content'] }}</input>
		    </div>
		    <div class="form-group">
		        <button type="submit" class="pheasant-demure-button solid dark">
				  <span class="label">ADD MENU ITEM</span>
				</button>
		    </div>
		</form>
		<hr> -->
		

		</body>
	</html>


{% endblock %}

