<!-- Index file -->
<!-- Start of the application FreeMenu -->


{% extends 'base.html' %}


{% block content %}

      </br>

      <h3>{% block title %} Hello {{ name }}! {% endblock %}</h3>

      </br>

      <form action = "http://localhost:5000/restaurant_menu" method = "POST">
         <p><b>Enter the name of the restaurant:</b></p>
         <p>
            <input type ="text" name = "rest_name" />
         </p>
         
         <p> 
            <input type = "submit" value = "Get Menu" />
         </p>

      </form>   

{% endblock %}


