<!-- Index file -->
<!-- Start of the application FreeMenu -->


{% extends 'base.html' %}


{% block content %}

      </br>

      <h3>{% block title %} Hello {{ name }}! {% endblock %}</h3>

      </br>

      <form action = "http://localhost:5000/restaurant_menu" method = "POST">
         <p><b>Enter the name of the restaurant:</b></p>
         <p>
            <input type ="text" name = "rest_name" />
         </p>
         
         <p> 
            <input type = "submit" value = "Get Menu" />
         </p>

         <button type="button" onclick="myFunction()">Try it</button>


      </form>   

      <script>
         function myFunction() {
           silverBox({
               alertIcon: "success",
               text: "Your task has been completed.",
               centerContent: true,
               confirmButton: {
                  bgColor: "#3085d6",
                  borderColor: "#3085d6",
                  textColor: "#fff",
                  text: "Confirm",
                  closeOnClick: true
               }
            })
         }
      </script>

{% endblock %}


