<!-- restaurant_menu.html -->


{% extends 'base.html' %}


{% block content %}


   <head>
        <meta charset="utf-8">
        <title>Free Menu</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_custom.css') }}"/>
    </head>

   <body>
   
      </br>
     
      <h3>Restaurant Name: {{ name }}!</h3>

      </br>

      <table class="styled-table">
          <thead>
              <tr>
                  <th>Menu Item</th>
                  <th>Cost</th>
                  <!-- <th></th> -->
              </tr>
          </thead>
          <tbody>
              {% for item in result %}
               <tr>
                  <td> {{ item['item_title'] }} </td>
                  <td> {{ item['item_cost'] }} </td>
                  <!-- <td ><input type="button" class="pheasant-demure-button solid dark " value="X" onclick="SomeDeleteRowFunction(this)"/></td> -->
               </tr>
               {% endfor %}
          </tbody>
      </table>

      <hr>

      <form action = "http://localhost:5000/add_menu/{{name}}" method = "GET">
        <button type="submit" class="pheasant-demure-button solid dark" onclick="">
          <span class="label" >ADD MENU ITEM</span>
        </button>
      </form>

   </body>



{% endblock %}
