<!-- restaurant_menu.html -->


{% extends 'base.html' %}


{% block content %}

   <body>
   
      </br>
     
      <h3>The Restaurant Name: {{ name }}!</h3>

      </br>

      <table class="styled-table">
          <thead>
              <tr>
                  <th>Menu Item</th>
                  <th>Cost</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for item in result %}
               <tr>
                  <td> {{ item['item_title'] }} </td>
                  <td> {{ item['item_cost'] }} </td>
                  <td ><input type="button" class="pheasant-demure-button solid light" value="X" onclick="SomeDeleteRowFunction(this)"/></td>
               </tr>
               {% endfor %}
          </tbody>
      </table>

      <hr>

      <!-- <form action = "http://localhost:5000/add_menu/{{name}}" method = "GET"> -->
      <form action = "{{ url_for('add_restaurant_menu')}}+{{name}}" method = "GET">
        <button type="submit" class="pheasant-demure-button solid dark" onclick="">
          <span class="label" >ADD MENU ITEM</span>
        </button>
      </form>
    
    </br>
    
    <!-- <form action = "http://localhost:5000/get_qr/{{name}}" method = "GET"> -->
    <form action = "{{ url_for('get_qr')}}+/{{name}}" method = "GET">
        <button type="submit" class="pheasant-demure-button solid dark" >
          <span class="label" >GET QR CODE</span>
        </button>
    </form>

   </body>



{% endblock %}
