<!-- restaurant_list.html -->


{% extends 'base.html' %}


{% block content %}

	<head>
        <meta charset="utf-8">
        <title>Free Menu</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_custom.css') }}"/>
    </head>


	<body>
   
      </br>
     
      <h2>Restaurant on FreeMenu App</h2>

      </br>
      </br>
      </br>

      <table class="styled-table">
          <thead>
              <tr>
                  <th>Restaurant Name</th>
                  <th>Location</th>
              </tr>
          </thead>
          <tbody>
              {% for item in results %}
               <tr>
                  <td> {{ item['restaurant_title'] }} </td>
                  <td> {{ item['restaurant_location'] }} </td>
               </tr>
               {% endfor %}
          </tbody>
      </table>

{% endblock %}